django==5.2
django-environ==0.12.0
django_extensions==3.2.3
psycopg==3.2.4
psycopg-binary==3.2.4
argon2-cffi==23.1.0
pydantic==2.10.6
ruff==0.11.4
requests==2.32.3
openai==1.71.0
gigachat==0.1.39.post1
gunicorn==23.0.0
django-allauth==65.7.0
pyjwt==2.10.1
cryptography==44.0.2