.heart-icon.filled {
    fill: white !important;
}
.bi-volume-up.filled {
    fill: gray !important;
}
.heart-icon.outlined, .bi-volume-up.outlined {
    fill: transparent !important;
    stroke: currentColor;
    stroke-width: 1;
}
