.mw-badge {
    background-color: var(--brand-yellow);
    color: var(--brand-purple);
}

.mw-div-ButtonsWrapper {
    justify-content: right;
    gap: 0.5rem;
}

.remove-word-btn:hover {
    background-color: var(--brand-orange);
    border-color: var(--brand-orange);
}

.remove-word-btn {
    background-color: red;
    border-color: red;
}